

[type="text"] {
    font-size: large;
}
#champ_email {
    position: relative;
}

#champ_email .bloc-rouge {
    position : absolute;
    color: red;
    font-size: 10px;
    top:0px;
    right:0px;
}

nav {
    position: sticky;
    top: 0;
    z-index: 1;
}